#footer{
    margin-top: 10rem;
    background-color: #93B874;
    padding-bottom: 10rem;
    display: flex;
    color: white;
}
.footer-web{
    margin-top: 10rem;
}
.title-footer{
    flex: 30%;
    margin: 10rem 0 0 10rem;
}
.danhmuc-footer{
    margin-right: 2rem;
    flex: 60%;
    margin-top: 10rem;
    display: flex;
}
#footer .h4{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color: white;
}
.title-footer .p{ margin-top: 2.5em;}
#footer .p{
    margin-top: 2.5rem;
    font-size: 2rem;
}
.icon-footer{
    margin-top: 2rem;
}
.img-icon{
    padding-right: 1rem;
}
